input{
    padding: 12px;
    display: block;
    margin: 12px 0;
}
button{
    padding: 12px ;
}
h3{
    color: red;
}
p{
    color: black;
    font-size: 1rem;
}
select{
    display: block;
    padding: 12px;
    margin: 12px 0;
    color: white;
    border-radius: 3px;
}